<h2>Here is a form to add a new cryptid</h2>

<form action="/crypts" method="POST">
    <label for="crypt-name">Name</label>
    <input type="text" name="name" id="crypt-name">
    
    <label for="crypt-img">Image URL</label>
    <input type="text" name="img_url" id="crypt-img">

    <input type="submit" value="Add that CRYPT!">
</form>