<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Cruddy Dinos & Cryptids</title>
</head>
<body>
    <header>
        <nav>
            <div class = "navbar" >
                <div class = "nav"><a class="aNav" href="/">Home</a></div>
                <div class = "nav"><a class="aNav" href="/dinos">Dinosaurs</a></div>
                <div class = "nav"><a class="aNav" href="/dinos/new">Add a Dino</a></div>
                <div class = "nav"><a class="aNav" href="/crypts">Cryptids</a></div>
                <div class = "nav"><a class="aNav" href="/crypts/new">Add a Cryptid</a></div>
            </div>
        </nav>
    </header>

    <%- body %>
</body>
</html>