<h2>Dinosaurs</h2>
<p>Your favorite scaly beasts that live on in our imaginations.</p>
<input type="button" class="addButton" value=" ➕">
<div class="list blankColumn"></div>
<div class="list listColumn">
    <% dinos.forEach((dino, index) => { %>
        <div class="list">
            <div class="listItem">
                <a href="/dinos/<%= index %>"><%= dino.name %></a>
            </div>
            <div class="deleteButton">
                <form method="POST" action="/dinos/<%= index %>/?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    <% }); %>
</div>
<div class="list blankColumn"></div>